[submodule "cpython"]
	path = cpython
	url = git@github.com:bytemarx/cpython.git
	branch = exaplot
[submodule "app/hdf5"]
	path = app/hdf5
	url = git@github.com:HDFGroup/hdf5.git
	branch = hdf5_1_14_2
